aiohttp==3.9.3
# cliffordlayers==0.1.3.dev17+g35891e5
dill==0.3.8
docstring-parser==0.15
hdf5plugin==4.4.0
jsonargparse==4.27.5
# lightning==2.2.1
pip-chill==1.0.3
rich==13.7.1
tensorboard==2.16.2
# torchaudio==2.2.0.dev20240227
torchdata==0.7.1
# torchvision==0.18.0.dev20240227
typeshed-client==2.5.1
xarray==2024.2.0
